<h1>Welcome to the Animal Shelter</h1>

<div id="homepage-image">
  <img src="https://d1wmhwtkksj55o.cloudfront.net/wp-content/uploads/2015/09/shutterstock_189974771.jpg"
  width="1200" height="800" alt="Cute Kitten & Puppy">
</div>
