<div id="all-owners-list">
  <% @owners.each do |owner| %>

    <div class="owner-in-list">
      <p>Owner Name: <%= owner.name() %></p>

      <p><a href="/manager/owners/<%= owner.id %>">Show Owner</a></p>
    </div>

  <% end %>
</div>
