<h1>Manager Tools</h1>

<ul>
  <li>
    <a href="/manager/animals">Manage Animals</a>
  </li>
  <li>
    <a href="/manager/animal/new">Add New Animal</a>
  </li>
  <li>
    <a href="/manager/owners">Manage Owners</a>
  </li>
  <li>
    <a href="/manager/owner/new">Add New Owner</a>
  </li>
</ul>
