<form action="/manager/animal/new" method="post">

  <label for="name">Animal Name:</label>
  <input type="text" name="name" id="name">

  <label for="admission-date">Admission Date:</label>
  <input type="text" name="admission_date" id="admission-date">

  <label for="type">Type:</label>
  <input type="text" name="type" id="type">

  <label for="species">Species:</label>
  <input type="text" name="species" id="species">

  <label for="available">Available for Adoption:</label>
    <select name="available" id="available">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>

  <input type="submit" value="Add Animal">

</form>
